* {
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 16px;
	// height: 100%;
	font-family: 'Heeboo', sans-serif;
}
// .wrapper {
// }
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
// }

// h1 {
// }

// h2 {
// }

// h3 {
// }

// h4 {
// }

// h5 {
// }

// h6 {
// }

p {
	text-shadow: -2px 10px 11px #3d3020;
}
// ul,
// ol,
// a {
// }

// ol {
// 	li {
// 	}
// }

// a {
// }
// .active {
// }

// span {
// }

// header {
// }
