.hero {
	background-image: url(/dist/img/energy-poverty_opt.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 75%;
	display: flex;
	color: white;
	font-family: 'Heebo', sans-serif;
	font-size: 1.2rem;
	height: 100vh;
	width: 100%;
	&.mobile {
		@include bp-med {
			display: none;
		}

		justify-content: space-between;
		flex-direction: column;

		.psudo-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			h1 {
				margin-left: 5%;
			}
			.hamburger {
				width: 50px;
				height: 50px;
				position: relative;
				background-color: rgba($color: #000000, $alpha: 0);
				border: 5px solid rgba($color: #000000, $alpha: 0);
				cursor: pointer;
				transition: all 0.3s ease;
				margin-right: 5%;
				margin-top: 2%;
				z-index: 9999;
				@include bp-med {
					display: none;
				}
				div {
					height: 2px;
					width: 30px;
					background-color: white;
					position: absolute;
					transition: all 0.3s ease;
					&.hamburgerLineOne {
						top: 7px;
						left: 5px;
					}
					&.hamburgerLineTwo {
						top: 17px;
						left: 5px;
					}
					&.hamburgerLineThree {
						top: 27px;
						left: 5px;
					}
				}
				&:hover {
					border-radius: 50%;
					transition: all 0.3s ease;
					.hamburgerLineOne {
						transform: translateY(10px) rotate(45deg);
						transition: all 0.5s ease;
					}
					.hamburgerLineTwo {
						opacity: 0;
						transition: all 0.2s ease;
					}
					.hamburgerLineThree {
						transform: translateY(-10px) rotate(-45deg);
						transition: all 0.5s ease;
					}
				}
				&.focus {
					border-radius: 50%;
					transition: all 0.3s ease;
					.hamburgerLineOne {
						transform: translateY(10px) rotate(45deg);
						transition: all 0.5s ease;
					}
					.hamburgerLineTwo {
						opacity: 0;
						transition: all 0.2s ease;
					}
					.hamburgerLineThree {
						transform: translateY(-10px) rotate(-45deg);
						transition: all 0.5s ease;
					}
				}
			}
		}
		.content {
			width: 100%;
			opacity: 0;
			height: 100vh;
			display: block;
			position: absolute;
			right: 100%;
			transition: 0.5s;
			display: flex;
			justify-content: center;
			align-items: center;
			.flex {
				display: flex;
				height: 50%;
				flex-direction: column;
				justify-content: center;
			}
			.navigation {
				padding-left: 0px;
				text-align: center;
				font-size: 30px;
				font-weight: bold;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				ul {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-content: center;
					height: 100%;

					a {
						color: white;
						text-decoration: none;
						position: relative;
						display: inline-block;
						overflow: hidden;
						transition: all 0.2s;
						&:before {
							content: '';
							overflow: hidden;
							width: 100%;
							position: absolute;
							left: -150%;
							bottom: 0px;
							height: 3px;
							background-color: red;
							transition: all 0.3s;
						}
						&:hover {
							color: red;
							&:before {
								left: 0px;
							}
						}
					}
				}
			}
			&.showing {
				right: 0px;
				opacity: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
		#logo {
			width: 153px;
			margin: 5% auto;
		}
	}

	&.desktop {
		display: none;
		@include bp-med {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.psudo-header {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				align-items: center;
				margin: 3% 10%;
				.logo {
					width: 150px;
				}
				h1 {
					font-size: 2rem;
					margin-left: 3%;
				}
			}
			nav {
				display: flex;
				justify-content: flex-end;
				font-size: 1.7rem;
				ul {
					display: flex;
					justify-content: space-around;
					min-width: 45%;

					margin: 1% 5%;
					li {
						margin: 1%;
						a {
							color: white;
							text-decoration: none;
							&.active {
								border-bottom: 2px solid white;
							}
						}
					}
				}
			}
		}
	}
}
.svg-container {
	height: 100vh;
	width: 100vw;
	position: absolute;
	z-index: 1000;
	display: flex;
	justify-content: center;
	svg {
		position: absolute;
		height: 100%;
	}
}
.second-section {
	@include bp-med {
		display: flex;
	}
	.second-section-picture {
		background-image: url(/dist/img/o-INDIA-NO-ELECTRICITY-VILLAGE-facebook_compressed.jpg);
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		@include bp-med {
			height: 100vh;
			width: 50vw;
		}
	}
	.about {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: #050505;
		color: #a3a3a3;
		// height: 50vh;
		overflow: hidden;
		@include bp-med {
			height: 100vh;
			width: 50vw;
		}
		.idea-bulb {
			transform: rotate(180deg);
			img {
				width: 150px;
				@include bp-med {
					width: 230px;
				}
			}
		}
		p {
			text-align: center;
			width: 70%;
			line-height: 1.8rem;
			font-size: 1.1rem;
			@include bp-med {
				font-size: 1.8rem;
				line-height: 3rem;
				text-align: right;
			}
		}
		.light-spot {
			margin-bottom: 5%;
			img {
				width: 400px;
				opacity: 0.4;
				@include bp-med {
					width: 550px;
				}
			}
		}
	}
}
.third-section {
	@include bp-med {
		display: flex;
		flex-direction: row-reverse;
	}
	.third-section-picture {
		background-image: url(/dist/img/1_uD-8jrFwssqXbGAvImPj_Q.jpeg);
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		@include bp-med {
			height: 100vh;
			width: 50vw;
		}
	}
	.about {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: #050505;
		color: #a3a3a3;
		// height: 50vh;
		overflow: hidden;
		@include bp-med {
			height: 100vh;
			width: 50vw;
		}
		.ceiling-lamp {
			img {
				width: 150px;
				@include bp-med {
					width: 230px;
				}
			}
		}
		p {
			text-align: center;
			width: 70%;
			font-size: 1.1rem;
			line-height: 1.8rem;
			@include bp-med {
				font-size: 1.8rem;
				line-height: 3rem;
				text-align: left;
			}
		}
		.light-spot {
			margin-bottom: 5%;
			img {
				width: 400px;
				opacity: 0.4;
				@include bp-med {
					width: 550px;
				}
			}
		}
	}
}
.fourth-section {
	@include bp-med {
		display: flex;
	}
	.fourth-section-picture {
		background-image: url(/dist/img/1541578076606.jpeg);
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		@include bp-med {
			height: 100vh;
			width: 50vw;
		}
	}
	.about {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: #050505;
		color: #a3a3a3;
		// height: 50vh;
		overflow: hidden;
		@include bp-med {
			height: 100vh;
			width: 50vw;
		}
		.stage-lights {
			display: flex;
			width: 100%;
			justify-content: space-between;
			img {
				width: 150px;
				margin: 0 2%;
				@include bp-med {
					width: 230px;
					&:last-child {
						display: none;
					}
				}
			}
		}
		p {
			text-align: center;
			width: 92.5%;
			line-height: 1.8rem;
			font-size: 1.1rem;
			@include bp-med {
				font-size: 1.8rem;
				line-height: 3rem;
				text-align: right;
			}
		}
		.light-spot {
			margin-bottom: 5%;
			img {
				width: 400px;
				opacity: 0.4;
				@include bp-med {
					width: 550px;
				}
			}
		}
	}
}
.fifth-section {
	@include bp-med {
		display: flex;
		flex-direction: row-reverse;
	}
	.fifth-section-picture {
		background-image: url(/dist/img/4058016965_db02c42403_b.jpg);
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom;
		@include bp-med {
			height: 100vh;
			width: 50vw;
		}
	}
	.about {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: #050505;
		color: #a3a3a3;
		// height: 50vh;
		overflow: hidden;
		padding-bottom: 4rem;

		@include bp-med {
			height: 100vh;
			width: 50vw;
			padding-bottom: 0rem;
		}
		.desk-light {
			z-index: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 200px;
				@include bp-med {
					width: 230px;
				}
			}
		}
		p {
			text-align: center;
			width: 85%;
			font-size: 1.2rem;
			margin-bottom: 6%;
			line-height: 1.8rem;
			z-index: 1;
			@include bp-med {
				font-size: 1.5rem;
				line-height: 3rem;
				text-align: left;
			}
		}
		.light-spot {
			margin-bottom: 5%;
			img {
				width: 400px;
				opacity: 0.4;
				@include bp-med {
					width: 550px;
				}
			}
		}
	}
}
footer {
	background-color: #050505;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include bp-med {
		flex-direction: row;
		justify-content: space-around;
		padding: 2%;
	}
	.legal {
		color: #a3a3a3;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		line-height: 1.5;
		width: 100%;
		span {
			text-align: center;
			@include bp-med {
				text-align: left;
			}
		}
		@include bp-med {
			color: #a3a3a3;
			display: flex;
			flex-direction: column;
			justify-content: normal;
			align-content: normal;
			align-items: normal;
			margin: 0 0;
			height: 60px;
			width: 60%;
		}
	}
	.socials {
		display: flex;
		/* padding: 1rem; */
		width: 70%;
		justify-content: space-evenly;
		a {
			padding: 5%;
			img {
				width: 50px;
			}
		}
	}
}

/***************************************************
 * Generated by SVG Artista on 3/2/2021, 6:50:31 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

/***************************************************
 * Generated by SVG Artista on 3/2/2021, 8:42:52 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
	stroke-dashoffset: 686.8287353515625px;
	stroke-dasharray: 686.8287353515625px;
	transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

svg.active .svg-elem-1 {
	stroke-dashoffset: 0;
}
